
$max-width: 1160px;
$gold: #f4b60d;
$grey: #8a8a8a;
$ubuntu: 'Ubuntu', medium;
$ubuntuCond: 'Ubuntu Condensed', sans-serif;

*{
  box-sizing: border-box;
}

.logo{
  max-width: $max-width;
  margin: 0 auto;
  padding: 37px 0;
}

.logo__sprite {
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  float: right;
  margin-left: 15px;
  margin-top: 7px;
}

.logo__sprite-skype {
  width: 16px;
  height: 16px;
  background-position: -75px -5px;
}

.logo__sprite-linked {
  width: 16px;
  height: 16px;
  background-position: -23px -5px;
}

.logo__sprite-rss {
  width: 16px;
  height: 15px;
  background-position: -49px -5px;
}

.logo__sprite-face {
  width: 8px;
  height: 16px;
  background-position: -5px -5px;
}

.logo__sprite-twitter {
  width: 17px;
  height: 13px;
  background-position: -101px -5px;
}

.nav {
  max-width: 1160px;
  margin: 0 auto;
  padding: 23px 0;
  background: #2a2d32;
  font-family:$ubuntuCond;
  font-size: 14px;
}

.nav__item__bottom:first-child{
  background: #248cec;
  color: white;
}
.nav__item {
  color: white;
  text-decoration: none;
}

.nav__item:hover {
  color: $gold;
}

.nav__item__bottom{
  padding: 23px 41px;
  border-right: 1px solid black;
}
// MAIN

.main {
  width: $max-width;
  margin: 0 auto;
}

.main__slider .slick-arrow {
  display: none;

}
ul.slick-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  list-style: none;
}

.slick-dots {

  li{
  display: inline-block;
  margin: 0 7px;
  border: 3px solid #ffffff;
  width: 15px;
  height: 15px;
  text-indent: -9999px;
  background: white;
  }

  li.slick-active{
  background: #000;
  }

}

.slick-caption{
  position: absolute;
  bottom: 40px;
  left: 36px;

  span{
    width: 212px;
    display: block;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 63px 5px 26px;
    font-size: 54px;
    line-height: 60px;
    text-transform: uppercase;
    font-family: $ubuntu;
  }
  span:first-child{
    padding-top: 15px;
    color: $gold;
  }
  span:last-child{
    padding-bottom: 15px;
    width: 308px;

  }
}

.slick-slide {
  position: relative;
}
.search {
  width: 239px; /* Ширина поля с кнопкой */
  padding-right: 5px;
  border: 1px solid #000; /* Параметры рамки */
  height: 38px;
  float: right;/* Минимальная высота */
}
.search-field{
  float: right;
  margin: -10px 10px -10px 0;
  background: #35383c;
}
input[type="search"] {
  border: none; /* Убираем рамку */
  outline: none; /* Убираем свечение в Chrome и Safari */
  -webkit-appearance: none; /* Убираем рамку в Chrome и Safari */
  width: 212px; /* Ширина поля */
  height: 37px;
  border-bottom: 1px solid black;
  background: #35383c;
  font-size: 13px;
  color: $grey;
  padding-left: 14px;
  vertical-align: middle; /* Выравнивание по середине */
}
input[type="submit"] {
  width: 15px; /* Ширина кнопки */
  height: 20px; /* Высота кнопки */
  border: none; /* Убираем рамку */
  background: url(../img/search.png) no-repeat 50% 50%; /* Параметры фона */
  vertical-align: middle;
}

//ИНФО
.info {
  display: flex;
  max-width: $max-width;
  margin: 0 auto;
  margin-top: 72px;
  font-family: $ubuntu;
}
.info__container {
  width: 355px;
  margin-right: 25px;
}

.info__container:last-child {
  margin-right: 0;
}
.container__item {
  overflow: hidden;
  width: 239px;

  h2 {
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 27px;
  }

  p {
    margin: 0;
    margin-bottom: 25px;
    color: $grey;
    font-size: 13px;
    font-family: 'Arial', regular;
  }

  a {
    text-decoration: none;
  }

  a p img{
    margin-left: 17px;
  }

  a p:hover {
    color: deepskyblue;

  }
}

.container__item__number {
  overflow: hidden;
  float: left;
  margin-right: 25px;

}

// СПРАЙТЫ ДЛЯ ИНФО
.container__item__number__sprite2 {
  background-image: url(../img/spritesheet1.png);
  background-repeat: no-repeat;
  display: block;
  float: left;
}

.sprite-01 {
  width: 80px;
  height: 64px;
  background-position: -5px -5px;
}

.sprite-02 {
  width: 90px;
  height: 64px;
  background-position: -95px -5px;
}

.sprite-03 {
  width: 90px;
  height: 64px;
  background-position: -195px -5px;
}


.sprite3 {
  background-image: url(../img/spritesheet3.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-gaika {
  width: 32px;
  height: 32px;
  background-position: -5px -5px;
}

.sprite-settings {
  width: 32px;
  height: 32px;
  background-position: -47px -5px;
}

.sprite-truck {
  width: 32px;
  height: 26px;
  background-position: -89px -5px;
}


//SERVICES
.services {
  background-color: #2a2d32;
  font-family: $ubuntu;

  span {
    font-size: 20px;
    color: white;
    margin-bottom: 57px;
  }

  span:hover {
    color: $gold;
  }
}
.services__content{
  max-width: 1160px;
  margin: 0 auto;
  padding-top: 47px;
}
.services__title {
  margin-bottom: 54px;
}

.services__items {
  display: flex;
}


.services__items__photo:last-child {
  margin-right: 0;
}

.services__items__photo {
  width: 263px;
  margin-right: 40px;
  text-align: center;
  margin-bottom: 70px;
}

.aaa {
  position: relative;
  margin-bottom: 34px;

}

.imgOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(46,140,227,0.8) url("../img/plusbig.png") 50% 50% no-repeat;
  opacity: 0;
  transition: 0.3s linear;
}
.aaa:hover .imgOverlay{
    opacity: 1;
    transition: 0.3s linear;
}
.services__items__photo i {
  margin-bottom: 34px;
}

.services__items__photo img {
  display: block;
}

.services__items__photo__sprite {
    background-image: url(../img/spritesheet4.png);
    background-repeat: no-repeat;
    display: block;

}

.sprite-car {
  width: 260px;
  height: 260px;
  background-position: -5px -5px;
}

.sprite-last {
  width: 260px;
  height: 260px;
  background-position: -275px -5px;
}

.sprite-man {
  width: 260px;
  height: 260px;
  background-position: -545px -5px;
}

.sprite-man2 {
  width: 260px;
  height: 260px;
  background-position: -815px -5px;
}
// NEWS
.news {
  background: #f7f7f7;
}

.news__container{
  max-width: $max-width;
  display: flex;
  margin: 0 auto;
  padding-top: 40px;

  h2 {
    font-family: $ubuntu;
    font-size: 24px;
  }

}

.news__container__item img{
  height: 150px;
}
.icon {
  font-size: 15px;
}
.icon__month {
  margin-top: 12px;
  margin-left: -17px;
  position: absolute;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  background: #248cec;

  span {
    color: white;
  }
}

.icon__date {
  position: absolute;
  width: 40px;
  height: 40px;
  background: $gold;
  margin-top: 52px;
  margin-left: -17px;
  text-align: center;
  padding-top: 10px;

  span{
    color: black;
    font-weight: bold;
  }
}

.news__container__item {
  margin-right: 30px;
}
.news__container__item .state1{
  display: flex;
  width: 560px;
  margin-bottom: 30px;

  h3 {
    margin-top: 10px;
    font-family: $ubuntu;
    font-size: 16px;
  }

}
.news__container__item .state2{
  display: flex;
  width: 560px;

  h3 {
    margin-top: 10px;
    font-family: $ubuntu;
    font-size: 16px;
  }

}


.news__container__item .text {
  margin-left: 34px;

  p {
    margin-top: 16px;
    color: $grey;
    font-size: 13px;
    font-family: 'Arial', regular;
  }

  a {
    color: black;
    text-decoration: none;
  }

  span {
    font-size: 13px;
    color: $grey;
    font-family: 'Arial', regular;
  }

  span a {
    color: #248cec;
  }
}

.text a:hover{
  color: #248cec;
}
.news__container__item .text:hover{

}
  //accordion
.accordion {
  margin-bottom: 84px;
}
#accordion .ui-state-active {
  background: $gold;
  color: white;

}
#accordion .ui-state-active .accordion__item__icon{
  border-right: 1px solid #e8e8e8;
}

#accordion {
  h3 {
    height:40px ;
    overflow: hidden;
    line-height: 40px;
    color: #000;
    border: 1px solid #e8e8e8;
    margin: 5px 0;
    font-size: 13px;
    font-family: $ubuntu;
  }
  p{
    margin-top: 35px;
    margin-left: 39px;
    color: $grey;
    margin-bottom: 44px;
    font-size: 13px;
    font-family: 'Arial', regular;
  }
}

.accordion__item__icon{
  float: left;
  width:40px;
  height:40px ;
  margin-right: 13px;
  border-right:2px solid #e8e8e8;

}
.accordion__item__icon{
   background: url("../img/plus.png") no-repeat 50% 50%;

}
.ui-state-active .accordion__item__icon{
  background: $gold url("../img/minus.png") no-repeat 50% 50%;
}


// PARTNERS LOGOS
.partners_logo__container {
  max-width: $max-width;
  display: flex;
  margin: 0 auto;
  padding-top: 85px;
  padding-bottom: 92px;
  justify-content: space-between;

}
.logo_container_sprite {
  background-image: url(../img/spritesheet5.png);
  background-repeat: no-repeat;
  display: block;
}

.sprite-p1 {
  width: 143px;
  height: 62px;
  background-position: -5px -5px;
}

.sprite-p2 {
  width: 143px;
  height: 62px;
  background-position: -158px -5px;
}

.sprite-p3 {
  width: 184px;
  height: 64px;
  background-position: -311px -5px;
}

.sprite-p4 {
  width: 143px;
  height: 62px;
  background-position: -505px -5px;
}

.sprite-p5 {
  width: 143px;
  height: 62px;
  background-position: -658px -5px;
}

.sprite-p6 {
  width: 143px;
  height: 62px;
  background-position: -811px -5px;
}
//FOOTER!!!
footer{
   background: #2a2d32;
}
.footer__info {
  display: flex;
  max-width: $max-width;
  margin: 0 auto;

  h3{
    font-family: $ubuntu;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
  }
}


.footer__info_items{
  margin-right: 40px;
  a {
    text-decoration: none;
    color: #828385;
  }
  a:hover{
    color: #248cec;
  }
  ul {
    margin-top: 35px;
    margin-bottom: 73px;
    padding: 0;
  }
  li {
    width: 260px;
    padding: 11px 0;
    list-style: none;
    border-bottom: 1px solid #393c40;
    font-family: 'Arial',regular;
  }
  li:last-child{
    border: none;
  }

}


.contacts {
  background: #35383c;
  font-family: 'Arial',regular;
}
.location {
  float:left;
  margin-right: 35px;
}
.mail {
  float: left;
}
.mobile {
  float: left;
  margin-right: 35px;
}

.lastlabel{
  float: right;
}
.contacts__container{
  display: block;
  max-width: $max-width;
  margin: 0 auto;
  padding: 23px 0;
  padding-bottom: 35px;

  a{
    text-decoration: none;
  }
  span {
    font-size: 12px;
    color: $grey;
    vertical-align: text-top;
  }
}

.location img{

}
.mobile img {
  margin-right: 10px;
}

/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
